

.default-list-main{
    width: 90%;
    height: 270px;
    /*border: 1px red solid;*/
    border-bottom: 1px #696969 solid;
    margin-left: 4px;
    margin-top: 20px;
}



/*.my-day-button{
    width: 99%;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: none;
    border: 1px  solid;
    outline: none;
    color : #2596be;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1.1rem;
    border: 1px #696969 solid;
    margin: 4px auto;
}

.my-day-button .section-name{
    color: #ffff;
    margin-right: 20px;

}

.my-day-button .item-counter{
    color: #ffff;
    margin-right: 4px;
}
*/

