


.get-reminder-main{
    width: 290px;
    height: 40px;
   /* background: rgb(111, 107, 107);*/
    border-radius: 3px 3px 0px 0px;
    color:inherit;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.reminder-config-button{
  width: 28px;
  height: 28px; 
  border-radius: 4px;  
  font-size: 1.4rem;
  border: 1px #e4e4e4 solid;
  color:inherit;
  margin-left: 10px;
}

.reminder-config-button:active{
    scale: -0.9;
    font-size: 1.3rem;
}

.reminder-config-button > i {
   display: inline-block;
   margin: auto;
}

