.main-head{
    width: 90%;
    height: 83px;
    margin: 15px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.setting-button{
  width: 50px;
  height: 30px;
  font-size: 1.3rem;
  color: inherit;
  background: none;
  border: none;
  margin-right: 5px;
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
 
}

