.out-put-main{
    width: 90%;
    height: 610px;
    background-color: #25273C;
    background: none;
   /* border: 1px red solid;*/
    margin: 10px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    overflow: auto;
    overflow-x: hidden;
}


.out-put-main::-webkit-scrollbar{
    width: 6px;
    height: 100vh;
    border-radius: 20px;
   /* background-color: #696868;*/
    background: none
};

::-webkit-scrollbar-track{
    appearance: none;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb{
    appearance: none;
    width: 5px;
    height: 5px;
    background-color: #696868;
    border-radius: 6px;
}
/*fix the bog of tumph scrollbar*/
