

.buttons-main{
    width: 99%;
    height: 30px;
    margin: 4px auto;
    border-radius:  4px;
}


.buttons{
    width: 40px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: hsl(236, 9%, 61%);
    margin-left: 10px;
}

.buttons:hover{
    color:  hsl(0, 0%, 98%);
}


.cl-button{
    width: 100px;
    font-size: 0.7rem;
    color: red ;
    border: none;
    cursor: pointer;
    background: none;
    float: right;
    margin-top: 8px;
}

.buttons:focus{
    color: #007cbf;
}
