.main-head{
    width: 90%;
    height: 83px;
  /*  border : 1px red solid; */
    margin: 15px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.color-them-button{
    width: 60px;
    height: 40px;
    font-size: 1.4rem;
    color: #ffff;
    background: none;
    border: none;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #27242E;;
}
