.main-head{
    width: 90%;
    height: 83px;
    margin: 15px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.setting-button{
  width: 50px;
  height: 30px;
  font-size: 1.3rem;
  color: inherit;
  background: none;
  border: none;
  margin-right: 5px;
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
 
}

.setting-button-light {
  box-shadow: 
  0px 10px 50px 0px hsla(0,0%,0%,0.14), 
  0px 9px 46px 8px hsla(0,0%,0%,0.12), 
  0px 11px 15px -7px hsla(0,0%,0%,0.2)
}

.setting-button-darke{
  background-color: #212121;
}

