.out-put-main{
    width: 99%;
    height: 550px;
    background-color: #25273C;
    margin: 20px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    overflow: scroll;
    overflow-x: hidden;
}

.out-put-main::-webkit-scrollbar{
    width: 6px;
    height: 30px;
    border-radius: 20px;
    background-color: #696868;
};


/*fix the bog of tumph scrollbar*/
