.out-put-main{
    width: 90%;
    height: 610px;
    background-color: #25273C;
    background: none;
    border: 1px red solid;
    margin: 10px auto;
    margin-bottom: 0px;
    border-radius: 4px;
   /* overflow: scroll;
    overflow-x: hidden;*/
}

.add-scrollbar{
    overflow: scroll;
    overflow-x: hidden;
}

.add-scrollbar::-webkit-scrollbar{
    width: 6px;
    height: 30px;
    border-radius: 20px;
    background-color: #696868;
};


/*fix the bog of tumph scrollbar*/
