


.image-button-section{
   width: 98%;
   height: 170px;
   border: 1px red solid;
   margin: 2px auto;
}

.image-button{
    width: 56px;
    height: 55px;
    background: none;
    border: none;
    outline: none;
    border: 1px red solid;
    margin-top: 1.5px;
    margin-left: 1.5px;
    border-radius: 2px;
    background: url('../../../img-beakground/pexels-max-ravier-5605765.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size:cover;

}