

.image-button-section{
   width: 98%;
   height: 62px;
 /*  border: 1px red solid;*/
   margin: 2px auto;
   margin-bottom: 0px;
}

.image-button{
    width: 56px;
    height: 55px;
    background: none;
    border: none;
    outline: none;
    margin-top: 1.5px;
    margin-left: 1.5px;
    border-radius: 2px;
    background: url('../../../img-beakground/pexels-walid-ahmad-909656.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size:cover;

}

.image-button:hover{
    scale: 1.1;
}

.show-more-image{
    width: 56px;
    height: 55px;
    background: none;
    border: none;
    outline: none;
    margin-top: 1.5px;
    margin-left: 1.5px;
    border-radius: 2px;
    font-size: 1.4rem;
  /*  border : 1px red solid;*/
    position: absolute;
}


.input-holder{
    width: 70px;
    height: 55px;
    border: 1px red solid;
    display: inline;
}


.input-holder .lable-style{
    width: 56px;
    height: 55px;
    cursor: pointer;
}

.input-fild{
    display: none;
}