

.time-box-main{
    width: 100px;
    height: 30px;
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hours-input{
    width: 30px;
    height: 28px;
    background: none;
    border-radius: 4px;
    border: none;
    color: #ffff;
    outline: none ;
    font-size: 1.1rem;
}


.hours-input::-webkit-outer-spin-button,
.hours-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
     margin: 0;
}

.hours-input:focus{
    border: 1px white  solid;
}
