.more-image-section{
   width: 100%;
   height: 178px;
   /*border: 1px red solid;*/
   margin: 2px auto;
   margin-top: 3px;
   margin-bottom: 0px;
  /* background: url('../../../../img-beakground/pexels-pixabay-220182.jpg');*/
}

.image-holder{
    width: 56px;
    height: 55px;
    background: none;
    border: none;
    margin-top: 0px;
    margin-left: 1.5px;
    border-radius: 2px;
    cursor: pointer;
}
