.display-main {
    width: 300px;
    height: 75px;
    /*border: 1px red solid;*/
    margin-top: 5px;
    margin-left: 4px;
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 50px 25px ;
}


.app-section-name{
    color: #ffff;
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 5px;
}

.icon-style{
   /* color:rgb(3, 158, 255);*/
    grid-column: 1/2;
    grid-row: 1/2;
    display: inline-block;
    font-size: 2rem;
    margin-top: 5px;
    margin-left: 5px;
}


.disply-date{
    margin-top: 2px;
    color: #ffff;
    grid-row: 2/3;
    grid-column: 1/3;
}