


.more-option-main{
   width: 250px;
   height: 500px;
   border-radius: 3px;
   position: absolute;
   left : 50%;
   top: 50px;
   z-index: 1000;
}


.delete-button{
    width: 100%;
    height: 40px;
    color : red;
    font-size: 1.4rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin-top: 60%;
}

/*.darke-hover-color:hover{
    background-color: #3B3A39;
    background-color:  #D5D4D4;
}
*/


.delete-button:hover{
    background-color: #3B3A39;
}
