.user-box-main{
    width: 90%;
    height: 80px;
    border: 1px rgb(183, 0, 255) solid;
    margin-top: 15px;
    margin-left: 6px;
    display: grid;
    grid-template-columns: 23% 76%;
    grid-template-rows: 50px 30px;
}


p{
    color: inherit;
    margin-left: 2px;
}

.gmail-addres{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 0.8rem;
    border: 1px red solid;
}

.user-name{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 20px;
    font-size: 1.1rem;
    border: 1px red solid;
}